body{
    font-family: 'Nanum Myeongjo', serif;
}


header {
    background-color: lightsteelblue;
    padding: 20px 0;
   border-bottom: 2px solid gray;
    border-top: 10px solid #312c79;
}

.navbar {
    flex-direction: column;
    align-items: center;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin: 0 5px; /* ajoute un peu d'espace entre les liens de navigation */
}

.navbar-nav .nav-link {
    color: #e64331; /* Définissez la couleur du texte des éléments nav */
    transition: color 0.3s; /* Ajoute une transition douce lors du changement de couleur */
}

.navbar-nav .nav-link:hover {
    color: white; /* Définissez la couleur de survol des éléments nav */
}

.navbar-nav .nav-item.active .nav-link {
    color: #0000ff; /* Définissez la couleur des éléments nav actifs */
}

/* Si vous voulez changer l'arrière-plan des éléments nav au survol */
.navbar-nav .nav-link:hover {
    /* Définissez la couleur d'arrière-plan au survol */
    border-radius: 10px; /* Arrondit les coins */
    height:40px;
    background: linear-gradient(to bottom, rgba(49, 44, 121, 1) 0%, rgba(49, 44, 121, 0) 100%);
}

/* Si vous voulez appliquer un style aux éléments nav lorsqu'ils sont cliqués (actifs) */
.navbar-nav .nav-item.show .nav-link {
    background-color: #e0e0e0; /* Définissez la couleur d'arrière-plan lorsqu'ils sont actifs/clicked */
}

p, a, h1{
    font-family: 'Nanum Myeongjo', serif;
}
footer{
    margin-top:50px;
    background-color:#312c79;
    padding-left: 20px;
    height:70px;
    color:cornflowerblue;
    justify-content: center;
}
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}




